csvs/lincs filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1 filter=lfs diff=lfs merge=lfs -text
csvs/**/JUMP1/** filter=lfs diff=lfs merge=lfs -text
csvs/**/JUMP1/learning/** filter=lfs diff=lfs merge=lfs -text
csvs/**/JUMP1/learning/moas/** filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/learning/moas/compound_images_with_MOA_no_polypharm_replicates=4_train.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/learning/moas/compound_images_with_MOA_no_polypharm_replicates=8_train.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/learning/moas/compound_images_with_MOA_no_polypharm_replicates=2_train.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/learning/moas/compound_images_with_MOA_no_polypharm_well_excluded_compound_holdout_train_2_balanced_moas.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/learning/moas/compound_images_with_MOA_no_polypharm_train.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/learning/moas/compound_images_with_MOA_no_polypharm_well_excluded_compound_holdout_train_2.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/learning/moas/compound_images_with_MOA_no_polypharm_replicates=16_train.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/learning/moas/compound_images_with_MOA_no_polypharm_replicates=3_train.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/learning/moas/compound_images_with_MOA_no_polypharm_replicates=6_train.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/learning/moas/compound_images_with_MOA_no_polypharm_test.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/learning/moas/compound_images_with_MOA_no_polypharm_replicates=20_train.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/learning/moas/compound_images_with_MOA_no_polypharm_replicates=24_train.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/learning/moas/compound_images_with_MOA_no_polypharm_replicates=28_train.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/learning/moas/compound_images_with_MOA_no_polypharm_valid.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/learning/moas/compound_images_with_MOA_no_polypharm_well_excluded_compound_holdout_test_2.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/learning/moas/compound_images_with_MOA_no_polypharm_test_no_negative.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/learning/moas/compound_images_with_MOA_no_polypharm_test_wells_excluded.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/learning/moas/compound_images_with_MOA_no_polypharm_test_wells_excluded_polycompound.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/learning/moas/compound_images_with_MOA_no_polypharm_well_excluded_compound_holdout_test_2_no_neg.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/learning/moas/compound_images_with_MOA_no_polypharm_replicates=10_train.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/learning/moas/compound_images_with_MOA_no_polypharm_replicates=32_train.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/learning/moas/compound_images_with_MOA_no_polypharm_replicates=1_train.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/learning/moas/compound_images_with_MOA_no_polypharm_replicates=7_train.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/learning/moas/compound_images_with_MOA_no_polypharm_well_excluded_compound_holdout_valid_2.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/learning/moas/compound_images_with_MOA_no_polypharm_replicates=5_train.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/learning/moas/compound_images_with_MOA_no_polypharm_replicates=12_train.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/learning/moas/compound_images_with_MOA_no_polypharm_replicates=9_train.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/compound_images_control_no_neg.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/crispr_images.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/compound_and_crispr_images.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/compound_images_with_MOA_no_polypharm.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/compound_images_with_MOA_no_polypharm_replicates=24.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/compound_images_with_MOA_no_polypharm_replicates=28.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/compound_images_with_MOA_no_polypharm_replicates=5.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/orf_images_control_no_neg.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/compound_images_with_MOA_no_polypharm_lincs_moas_only_test.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/compound_images_with_MOA_no_polypharm_no_neg.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/orf_images.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/compound_images_with_MOA_no_polypharm_replicates=12.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/compound_images_with_MOA_no_polypharm_replicates=2.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/compound_images_with_MOA_no_polypharm_replicates=4.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/compound_images_with_MOA_no_polypharm_replicates=8.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/crispr_images_control.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/compound_images_with_MOA.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/compound_images_with_MOA_no_polypharm_lincs_moas_only_no_neg.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/compound_images_with_MOA_no_polypharm_replicates=16.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/compound_images_with_MOA_no_polypharm_well_excluded.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/crispr_images_control_no_neg.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/compound_and_crispr_images_control.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/compound_images_with_MOA_no_polypharm_replicates=10.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/compound_images_with_MOA_no_polypharm_replicates=20.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/compound_images_with_MOA_no_polypharm_replicates=6.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/orf_images_control.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/all_images.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/compound_images_with_MOA_no_polypharm_lincs_moas_only.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/compound_images_with_MOA_no_polypharm_replicates=32.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/compound_images_with_MOA_no_polypharm_replicates=3.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/compound_images_control.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/compound_images.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/compound_images_with_MOA_no_polypharm_replicates=1.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/compound_images_with_MOA_no_polypharm_replicates=7.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/compound_images_with_MOA_no_polypharm_replicates=9.csv filter=lfs diff=lfs merge=lfs -text
csvs/JUMP1/learning filter=lfs diff=lfs merge=lfs -text
csvs/lincs/lincs_ten_micromolar_no_polypharm_replicates=4.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/lincs_ten_micromolar_no_polypharm_replicates=5.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/lincs_ten_micromolar_no_polypharm_JUMP_moas_only.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/lincs_ten_micromolar_no_polypharm_JUMP_moas_only_no_neg.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/lincs_ten_micromolar_no_polypharm_replicates=3.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/lincs_ten_micromolar_no_polypharm_replicates=6.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/lincs_ten_micromolar_no_polypharm_replicates=7.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/learning filter=lfs diff=lfs merge=lfs -text
csvs/lincs/lincs_no_polypharm_JUMP_moas_only_no_neg.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/lincs_ten_micromolar_no_polypharm.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/lincs_all_images.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/lincs_ten_micromolar_no_polypharm_replicates=1.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/lincs_ten_micromolar_no_polypharm_replicates=2.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/lincs_no_polypharm.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/lincs_no_polypharm_JUMP_moas_only.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/lincs_ten_micromolar.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/learning/moas/lincs_ten_micromolar_no_polypharm_test_no_negative.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/learning/moas/lincs_ten_micromolar_no_polypharm_compound_holdout_test_2_no_neg.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/learning/moas/lincs_ten_micromolar_no_polypharm_replicates=4_train.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/learning/moas/lincs_ten_micromolar_no_polypharm_replicates=6_train.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/learning/moas/lincs_no_polypharm_test.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/learning/moas/lincs_no_polypharm_train.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/learning/moas/lincs_ten_micromolar_no_polypharm_compound_holdout_test_2.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/learning/moas/lincs_ten_micromolar_no_polypharm_compound_holdout_train_2.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/learning/moas/lincs_ten_micromolar_no_polypharm_replicates=2_train.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/learning/moas/lincs_no_polypharm_JUMP_moas_only_test.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/learning/moas/lincs_no_polypharm_JUMP_moas_only_test_no_negative.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/learning/moas/lincs_no_polypharm_JUMP_moas_only_valid.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/learning/moas/lincs_ten_micromolar_no_polypharm_replicates=7_train.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/learning/moas/lincs_ten_micromolar_no_polypharm_test_DP_subset.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/learning/moas/lincs_ten_micromolar_no_polypharm_test_polycompound.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/learning/moas/lincs_ten_micromolar_no_polypharm_replicates=5_train.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/learning/moas/lincs_ten_micromolar_no_polypharm_test.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/learning/moas/lincs_ten_micromolar_no_polypharm_train.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/learning/moas/lincs_no_polypharm_JUMP_moas_only_train.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/learning/moas/lincs_ten_micromolar_no_polypharm_compound_holdout_train_2_balanced_moas.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/learning/moas/lincs_ten_micromolar_no_polypharm_compound_holdout_valid_2.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/learning/moas/lincs_ten_micromolar_no_polypharm_replicates=3_train.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/learning/moas/lincs_ten_micromolar_no_polypharm_valid.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/learning/moas/lincs_no_polypharm_test_no_negative.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/learning/moas/lincs_no_polypharm_valid.csv filter=lfs diff=lfs merge=lfs -text
csvs/lincs/learning/moas/lincs_ten_micromolar_no_polypharm_replicates=1_train.csv filter=lfs diff=lfs merge=lfs -text
pickles/JUMP1/label_index_map_from_compound_images_with_MOA_no_polypharm.csv.pkl filter=lfs diff=lfs merge=lfs -text
pickles/JUMP1/channel_stats.pkl filter=lfs diff=lfs merge=lfs -text
pickles/JUMP1/compound_to_moa_map.pkl filter=lfs diff=lfs merge=lfs -text
pickles/JUMP1/deepProfilerFeatures_from_model_median.pkl filter=lfs diff=lfs merge=lfs -text
pickles/JUMP1/channel_stats_compounds_raw.pkl filter=lfs diff=lfs merge=lfs -text
pickles/JUMP1/label_index_map_from_compound_images.csv.pkl filter=lfs diff=lfs merge=lfs -text
pickles/JUMP1/perturbation_index_map_from_compound_images_with_MOA_no_polypharm.csv.pkl filter=lfs diff=lfs merge=lfs -text
pickles/JUMP1/row_letter_to_index.pkl filter=lfs diff=lfs merge=lfs -text
pickles/JUMP1/sample_to_gene_target.pkl filter=lfs diff=lfs merge=lfs -text
pickles/JUMP1/barcode_to_pert_type.pkl filter=lfs diff=lfs merge=lfs -text
pickles/JUMP1/cellProfilerFeatures.pkl filter=lfs diff=lfs merge=lfs -text
pickles/JUMP1/channel_stats_all_raw.pkl filter=lfs diff=lfs merge=lfs -text
pickles/JUMP1/row_index_to_letter.pkl filter=lfs diff=lfs merge=lfs -text
pickles/JUMP1/batch_well_to_sample.pkl filter=lfs diff=lfs merge=lfs -text
pickles/JUMP1/broad_sample_to_compound_map.pkl filter=lfs diff=lfs merge=lfs -text
pickles/JUMP1/fullBarcodePlateNameMap.pkl filter=lfs diff=lfs merge=lfs -text
pickles/JUMP1/plot filter=lfs diff=lfs merge=lfs -text
pickles/JUMP1/poly_compound_moas_map.pkl filter=lfs diff=lfs merge=lfs -text
pickles/JUMP1/image_map.pkl filter=lfs diff=lfs merge=lfs -text
pickles/JUMP1/label_index_map_from_all_images.csv.pkl filter=lfs diff=lfs merge=lfs -text
pickles/JUMP1/label_index_map_from_compound_images_control.csv.pkl filter=lfs diff=lfs merge=lfs -text
pickles/lincs/compound_to_moa_map.pkl filter=lfs diff=lfs merge=lfs -text
pickles/lincs/compressed_channel_stats_raw_corrected.pkl filter=lfs diff=lfs merge=lfs -text
pickles/lincs/deepProfilerFeatures_from_model_median.pkl filter=lfs diff=lfs merge=lfs -text
pickles/lincs/label_index_map_from_lincs_no_polypharm.csv.pkl filter=lfs diff=lfs merge=lfs -text
pickles/lincs/label_index_map_from_lincs_no_polypharm_JUMP_moas_only.csv.pkl filter=lfs diff=lfs merge=lfs -text
pickles/lincs/lincs_sample_to_moa_target_pert.pkl filter=lfs diff=lfs merge=lfs -text
pickles/lincs/plot filter=lfs diff=lfs merge=lfs -text
pickles/lincs/deepProfilerFeatures_from_bornholdt_trained.pkl filter=lfs diff=lfs merge=lfs -text
pickles/lincs/label_index_map_from_lincs_ten_micromolar_no_polypharm.csv.pkl filter=lfs diff=lfs merge=lfs -text
pickles/lincs/lincs_platemap_well_to_sample_and_concentration.pkl filter=lfs diff=lfs merge=lfs -text
pickles/lincs/perturbation_index_map_from_lincs_ten_micromolar_no_polypharm.csv.pkl filter=lfs diff=lfs merge=lfs -text
pickles/lincs/poly_compound_moas_map.pkl filter=lfs diff=lfs merge=lfs -text
pickles/lincs/cellProfilerFeatures_from_repo_bornholdt.pkl filter=lfs diff=lfs merge=lfs -text
pickles/lincs/cellProfilerFeatures_from_repo_spherized.pkl filter=lfs diff=lfs merge=lfs -text
pickles/lincs/label_index_map_from_lincs_all_images.csv.pkl filter=lfs diff=lfs merge=lfs -text
pickles/lincs/lincs_barcode_to_platemap.pkl filter=lfs diff=lfs merge=lfs -text
pickles/lincs/lincs_image_map.pkl filter=lfs diff=lfs merge=lfs -text
pickles/lincs/lincs_sample_to_moa_target.pkl filter=lfs diff=lfs merge=lfs -text
pickles/lincs/cellProfilerFeatures_from_repo_level_3.pkl filter=lfs diff=lfs merge=lfs -text
save_dir/JUMP1/multiclass_classification/Jun-22-2022-08:49:11/models/model_best.dat filter=lfs diff=lfs merge=lfs -text
save_dir/JUMP1/multiclass_classification/Oct-18-2022-18:07:09/models/model_best.dat filter=lfs diff=lfs merge=lfs -text
save_dir/JUMP1/multiclass_classification/Sep-26-2022-11:39:55/models/model_best.dat filter=lfs diff=lfs merge=lfs -text
save_dir/lincs/multiclass_classification/Jul-04-2022-15:00:03/models/model_best.dat filter=lfs diff=lfs merge=lfs -text
save_dir/lincs/multiclass_classification/Oct-17-2022-11:13:23/models/model_best.dat filter=lfs diff=lfs merge=lfs -text
save_dir/lincs/multiclass_classification/Oct-23-2022-16:27:06/models/model_best.dat filter=lfs diff=lfs merge=lfs -text
pickles/JUMP1/barcode_to_cell_type_and_time.pkl filter=lfs diff=lfs merge=lfs -text
pickles/JUMP1/cellProfilerFeatures_from_spherized.pkl filter=lfs diff=lfs merge=lfs -text
pickles/JUMP1/ filter=lfs diff=lfs merge=lfs -text
pickles/lincs filter=lfs diff=lfs merge=lfs -text
