JUMP1/deepProfilerFeatures_from_model_pca.pkl filter=lfs diff=lfs merge=lfs -text
lincs/deepProfilerFeatures_from_model_pca.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/DP_latent_dictionary_label_type_moas_10uM_compounds_holdout_2_model_median_full_dataset.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/pred_labels_map_median_latent_CP_False_DP_False_pearson_moas_10uM_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/pred_labels_map_median_latent_CP_False_DP_True_pearson_moas_10uM_drop_neg_True_well_aggregated_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/pred_labels_map_median_latent_CP_False_DP_True_pearson_moas_10uM_polycompound_drop_neg_True_well_aggregated_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/replicate_correlation_CP_False_DP_False_pearson_moas_10uM_polycompound_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/replicate_correlation_CP_True_DP_False_pearson_moas_10uM_drop_neg_True_well_aggregated_True.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/pred_labels_map_median_latent_CP_False_DP_True_pearson_moas_10uM_compounds_holdout_2_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/compound_holdout_model_pred_image_k_map_moas_10uM_compounds_holdout_2.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/enrichment_median_latent_CP_False_DP_True_pearson_moas_10uM_polycompound_drop_neg_True_well_aggregated_True_bornholdt_trained.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/k_pred_map_CP_False_DP_False_pearson_moas_10uM_polycompound_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/k_pred_map_CP_False_DP_True_pearson_moas_10uM_polycompound_drop_neg_True_well_aggregated_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/latent_vote_by_wells_k_map_median_False_False_pearson_moas_10uM_compounds_holdout_2_True_True_None.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/logistic_regression_median_CP_False_DP_True_pearson_moas_10uM_drop_neg_True_well_aggregated_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/plate_MOA_specific_performance_map_moas_10uM.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/well_specific_performance_map_moas_10uM_polycompound.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/replicate_correlation_CP_False_DP_True_pearson_moas_10uM_drop_neg_True_well_aggregated_True_bornholdt_trained.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/CP_latent_dictionary_label_type_moas_10uM_compounds_holdout_2_full_dataset.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/DP_latent_dictionary_label_type_moas_10uM_compounds_holdout_2_bornholdt_trained_full_dataset.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/k_stats_CP_False_DP_True_pearson_moas_10uM_drop_neg_True_well_aggregated_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/k_stats_CP_False_DP_True_pearson_moas_10uM_polycompound_drop_neg_True_well_aggregated_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/latent_dictionary_label_type_moas_10uM_polycompound_well_aggregated_True_median_full_dataset.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/plate_MOA_specific_performance_map_moas_10uM_polycompound.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/pred_labels_map_median_latent_CP_True_DP_False_pearson_moas_10uM_polycompound_drop_neg_True_well_aggregated_True.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/well_specific_performance_map_moas_10uM.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/k_pred_map_CP_True_DP_False_pearson_moas_10uM_drop_neg_True_well_aggregated_True.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/latent_vote_by_embedding_median_False_False_pearson_moas_10uM_compounds_holdout_2_True_True_None.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/logistic_regression_median_CP_False_DP_True_pearson_moas_10uM_drop_neg_True_well_aggregated_True_bornholdt_trained.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/logistic_regression_median_CP_False_DP_True_pearson_moas_10uM_polycompound_drop_neg_True_well_aggregated_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/pred_labels_map_median_latent_CP_True_DP_False_pearson_moas_10uM_drop_neg_True_well_aggregated_True.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/classification_map_moas_10uM_polycompound filter=lfs diff=lfs merge=lfs -text
lincs/plot/DP_latent_dictionary_label_type_moas_10uM_bornholdt_trained_full_dataset.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/DP_latent_dictionary_label_type_moas_10uM_model_median_full_dataset.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/enrichment_median_latent_CP_False_DP_False_pearson_moas_10uM_polycompound_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/kNN_map_CP_False_DP_True_pearson_moas_10uM_polycompound_drop_neg_True_well_aggregated_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/kNN_map_CP_True_DP_False_pearson_moas_10uM_drop_neg_True_well_aggregated_True.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/logistic_regression_median_CP_False_DP_False_pearson_moas_10uM_polycompound_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/compound_holdout_correctly_predicted_moas_10uM_compounds_holdout_2.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/compound_holdout_model_pred_well_k_map_moas_10uM_compounds_holdout_2.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/latent_vote_by_wells_k_map_median_False_True_pearson_moas_10uM_compounds_holdout_2_True_True_bornholdt_trained.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/plate_specific_performance_map_moas_10uM_polycompound.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/CP_latent_dictionary_label_type_moas_10uM_polycompound_full_dataset.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/enrichment_median_latent_CP_False_DP_True_pearson_moas_10uM_drop_neg_True_well_aggregated_True_bornholdt_trained.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/enrichment_median_latent_CP_True_DP_False_pearson_moas_10uM_polycompound_drop_neg_True_well_aggregated_True.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/kNN_map_CP_False_DP_False_pearson_moas_10uM_polycompound_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/latent_vote_by_embedding_median_False_True_pearson_moas_10uM_compounds_holdout_2_True_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/enrichment_median_latent_CP_True_DP_False_pearson_moas_10uM_drop_neg_True_well_aggregated_True.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/k_pred_map_CP_False_DP_True_pearson_moas_10uM_drop_neg_True_well_aggregated_True_bornholdt_trained.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/k_stats_CP_False_DP_True_pearson_moas_10uM_polycompound_drop_neg_True_well_aggregated_True_bornholdt_trained.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/logistic_regression_median_CP_False_DP_False_pearson_moas_10uM_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/pred_labels_map_median_latent_CP_False_DP_False_pearson_moas_10uM_polycompound_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/CP_latent_dictionary_label_type_moas_10uM_full_dataset.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/DP_latent_dictionary_label_type_moas_10uM_polycompound_model_median_full_dataset.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/k_stats_CP_False_DP_False_pearson_moas_10uM_polycompound_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/k_stats_CP_True_DP_False_pearson_moas_10uM_drop_neg_True_well_aggregated_True.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/latent_dictionary_label_type_moas_10uM_well_aggregated_True_median_full_dataset.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/logistic_regression_median_CP_False_DP_True_pearson_moas_10uM_polycompound_drop_neg_True_well_aggregated_True_bornholdt_trained.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/replicate_correlation_CP_False_DP_True_pearson_moas_10uM_drop_neg_True_well_aggregated_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/classification_map_moas_10uM filter=lfs diff=lfs merge=lfs -text
lincs/plot/k_pred_map_CP_False_DP_True_pearson_moas_10uM_polycompound_drop_neg_True_well_aggregated_True_bornholdt_trained.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/latent_vote_by_wells_k_map_median_False_True_pearson_moas_10uM_compounds_holdout_2_True_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/pred_labels_map_median_latent_CP_False_DP_True_pearson_moas_10uM_polycompound_drop_neg_True_well_aggregated_True_bornholdt_trained.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/replicate_correlation_CP_False_DP_False_pearson_moas_10uM_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/enrichment_median_latent_CP_False_DP_True_pearson_moas_10uM_polycompound_drop_neg_True_well_aggregated_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/k_stats_CP_True_DP_False_pearson_moas_10uM_polycompound_drop_neg_True_well_aggregated_True.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/latent_dictionary_label_type_moas_10uM_compounds_holdout_2_well_aggregated_True_median_full_dataset.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/latent_vote_by_wells_k_map_median_True_False_pearson_moas_10uM_compounds_holdout_2_True_True_None.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/logistic_regression_median_CP_True_DP_False_pearson_moas_10uM_polycompound_drop_neg_True_well_aggregated_True.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/pred_labels_map_median_latent_CP_False_DP_False_pearson_moas_10uM_compounds_holdout_2_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/replicate_correlation_CP_True_DP_False_pearson_moas_10uM_polycompound_drop_neg_True_well_aggregated_True.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/kNN_map_CP_False_DP_True_pearson_moas_10uM_drop_neg_True_well_aggregated_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/k_pred_map_CP_True_DP_False_pearson_moas_10uM_polycompound_drop_neg_True_well_aggregated_True.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/k_stats_CP_False_DP_True_pearson_moas_10uM_drop_neg_True_well_aggregated_True_bornholdt_trained.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/plate_specific_performance_map_moas_10uM.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/pred_labels_map_median_latent_CP_False_DP_True_pearson_moas_10uM_drop_neg_True_well_aggregated_True_bornholdt_trained.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/replicate_correlation_CP_False_DP_True_pearson_moas_10uM_polycompound_drop_neg_True_well_aggregated_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/kNN_map_CP_False_DP_False_pearson_moas_10uM_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/latent_vote_by_embedding_median_False_True_pearson_moas_10uM_compounds_holdout_2_True_True_bornholdt_trained.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/replicate_correlation_CP_False_DP_True_pearson_moas_10uM_polycompound_drop_neg_True_well_aggregated_True_bornholdt_trained.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/kNN_map_CP_True_DP_False_pearson_moas_10uM_polycompound_drop_neg_True_well_aggregated_True.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/logistic_regression_median_CP_True_DP_False_pearson_moas_10uM_drop_neg_True_well_aggregated_True.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/enrichment_median_latent_CP_False_DP_False_pearson_moas_10uM_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/enrichment_median_latent_CP_False_DP_True_pearson_moas_10uM_drop_neg_True_well_aggregated_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/kNN_map_CP_False_DP_True_pearson_moas_10uM_polycompound_drop_neg_True_well_aggregated_True_bornholdt_trained.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/k_pred_map_CP_False_DP_False_pearson_moas_10uM_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/k_pred_map_CP_False_DP_True_pearson_moas_10uM_drop_neg_True_well_aggregated_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/k_stats_CP_False_DP_False_pearson_moas_10uM_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/pred_labels_map_median_latent_CP_True_DP_False_pearson_moas_10uM_compounds_holdout_2_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/DP_latent_dictionary_label_type_moas_10uM_polycompound_bornholdt_trained_full_dataset.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/kNN_map_CP_False_DP_True_pearson_moas_10uM_drop_neg_True_well_aggregated_True_bornholdt_trained.pkl filter=lfs diff=lfs merge=lfs -text
lincs/plot/latent_vote_by_embedding_median_True_False_pearson_moas_10uM_compounds_holdout_2_True_True_None.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/enrichment_median_latent_CP_True_DP_False_pearson_moa_targets_compounds_polycompound_drop_neg_True_well_aggregated_True.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/latent_vote_by_wells_k_map_median_False_True_pearson_moa_targets_compounds_holdout_2_True_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/well_specific_performance_map_moa_targets_compounds_polycompound.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/CP_latent_dictionary_label_type_moa_targets_compounds_full_dataset.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/enrichment_median_latent_CP_False_DP_True_pearson_moa_targets_compounds_polycompound_drop_neg_True_well_aggregated_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/kNN_map_CP_True_DP_False_pearson_moa_targets_compounds_drop_neg_True_well_aggregated_True.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/logistic_regression_median_CP_False_DP_True_pearson_moa_targets_compounds_polycompound_drop_neg_True_well_aggregated_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/pred_labels_map_median_latent_CP_False_DP_True_pearson_moa_targets_compounds_holdout_2_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/replicate_correlation_CP_False_DP_False_pearson_moa_targets_compounds_polycompound_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/DP_latent_dictionary_label_type_moa_targets_compounds_model_median_full_dataset.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/k_pred_map_CP_False_DP_False_pearson_moa_targets_compounds_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/logistic_regression_median_CP_False_DP_False_pearson_moa_targets_compounds_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/logistic_regression_median_CP_False_DP_False_pearson_moa_targets_compounds_polycompound_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/logistic_regression_median_CP_True_DP_False_pearson_moa_targets_compounds_polycompound_drop_neg_True_well_aggregated_True.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/kNN_map_CP_False_DP_False_pearson_moa_targets_compounds_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/k_pred_map_CP_True_DP_False_pearson_moa_targets_compounds_drop_neg_True_well_aggregated_True.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/k_stats_CP_True_DP_False_pearson_moa_targets_compounds_drop_neg_True_well_aggregated_True.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/k_stats_CP_True_DP_False_pearson_moa_targets_compounds_polycompound_drop_neg_True_well_aggregated_True.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/classification_map_moa_targets_compounds_polycompound filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/k_pred_map_CP_False_DP_False_pearson_moa_targets_compounds_polycompound_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/k_stats_CP_False_DP_False_pearson_moa_targets_compounds_polycompound_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/k_stats_CP_False_DP_True_pearson_moa_targets_compounds_drop_neg_True_well_aggregated_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/enrichment_median_latent_CP_False_DP_False_pearson_moa_targets_compounds_polycompound_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/enrichment_median_latent_CP_False_DP_True_pearson_moa_targets_compounds_drop_neg_True_well_aggregated_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/latent_vote_by_embedding_median_False_True_pearson_moa_targets_compounds_holdout_2_True_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/latent_vote_by_embedding_median_True_False_pearson_moa_targets_compounds_holdout_2_True_True_None.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/logistic_regression_median_CP_False_DP_True_pearson_moa_targets_compounds_drop_neg_True_well_aggregated_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/plate_specific_performance_map_moa_targets_compounds.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/well_specific_performance_map_moa_targets_compounds.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/CP_latent_dictionary_label_type_moa_targets_compounds_holdout_2_full_dataset.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/latent_vote_by_wells_k_map_median_True_False_pearson_moa_targets_compounds_holdout_2_True_True_None.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/pred_labels_map_median_latent_CP_False_DP_False_pearson_moa_targets_compounds_polycompound_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/pred_labels_map_median_latent_CP_False_DP_True_pearson_moa_targets_compounds_drop_neg_True_well_aggregated_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/pred_labels_map_median_latent_CP_True_DP_False_pearson_moa_targets_compounds_drop_neg_True_well_aggregated_True.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/pred_labels_map_median_latent_CP_True_DP_False_pearson_moa_targets_compounds_holdout_2_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/k_pred_map_CP_False_DP_True_pearson_moa_targets_compounds_drop_neg_True_well_aggregated_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/pred_labels_map_median_latent_CP_False_DP_True_pearson_moa_targets_compounds_polycompound_drop_neg_True_well_aggregated_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/latent_dictionary_label_type_moa_targets_compounds_holdout_2_well_aggregated_True_median_full_dataset.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/compound_holdout_model_pred_image_k_map_moa_targets_compounds_holdout_2.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/plate_MOA_specific_performance_map_moa_targets_compounds_polycompound.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/pred_labels_map_median_latent_CP_False_DP_False_pearson_moa_targets_compounds_holdout_2_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/replicate_correlation_CP_False_DP_False_pearson_moa_targets_compounds_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/replicate_correlation_CP_True_DP_False_pearson_moa_targets_compounds_polycompound_drop_neg_True_well_aggregated_True.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/compound_holdout_model_pred_well_k_map_moa_targets_compounds_holdout_2.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/plate_specific_performance_map_moa_targets_compounds_polycompound.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/pred_labels_map_median_latent_CP_True_DP_False_pearson_moa_targets_compounds_polycompound_drop_neg_True_well_aggregated_True.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/replicate_correlation_CP_False_DP_True_pearson_moa_targets_compounds_polycompound_drop_neg_True_well_aggregated_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/DP_latent_dictionary_label_type_moa_targets_compounds_polycompound_model_median_full_dataset.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/kNN_map_CP_False_DP_False_pearson_moa_targets_compounds_polycompound_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/kNN_map_CP_False_DP_True_pearson_moa_targets_compounds_drop_neg_True_well_aggregated_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/kNN_map_CP_False_DP_True_pearson_moa_targets_compounds_polycompound_drop_neg_True_well_aggregated_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/k_stats_CP_False_DP_False_pearson_moa_targets_compounds_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/latent_dictionary_label_type_moa_targets_compounds_polycompound_well_aggregated_True_median_full_dataset.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/latent_vote_by_embedding_median_False_False_pearson_moa_targets_compounds_holdout_2_True_True_None.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/latent_vote_by_wells_k_map_median_False_False_pearson_moa_targets_compounds_holdout_2_True_True_None.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/enrichment_median_latent_CP_False_DP_False_pearson_moa_targets_compounds_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/enrichment_median_latent_CP_True_DP_False_pearson_moa_targets_compounds_drop_neg_True_well_aggregated_True.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/kNN_map_CP_True_DP_False_pearson_moa_targets_compounds_polycompound_drop_neg_True_well_aggregated_True.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/k_pred_map_CP_True_DP_False_pearson_moa_targets_compounds_polycompound_drop_neg_True_well_aggregated_True.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/logistic_regression_median_CP_True_DP_False_pearson_moa_targets_compounds_drop_neg_True_well_aggregated_True.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/plate_MOA_specific_performance_map_moa_targets_compounds.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/classification_map_moa_targets_compounds filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/DP_latent_dictionary_label_type_moa_targets_compounds_holdout_2_model_median_full_dataset.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/k_stats_CP_False_DP_True_pearson_moa_targets_compounds_polycompound_drop_neg_True_well_aggregated_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/pred_labels_map_median_latent_CP_False_DP_False_pearson_moa_targets_compounds_drop_neg_True_well_aggregated_True_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/replicate_correlation_CP_False_DP_True_pearson_moa_targets_compounds_drop_neg_True_well_aggregated_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/k_pred_map_CP_False_DP_True_pearson_moa_targets_compounds_polycompound_drop_neg_True_well_aggregated_True_model_median.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/replicate_correlation_CP_True_DP_False_pearson_moa_targets_compounds_drop_neg_True_well_aggregated_True.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/compound_holdout_correctly_predicted_moa_targets_compounds_holdout_2.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/CP_latent_dictionary_label_type_moa_targets_compounds_polycompound_full_dataset.pkl filter=lfs diff=lfs merge=lfs -text
JUMP1/plot/latent_dictionary_label_type_moa_targets_compounds_well_aggregated_True_median_full_dataset.pkl filter=lfs diff=lfs merge=lfs -text
